/* 
    Array Sorter - CSS stylesheet
    Made with <3 by @lucAmbr0 
*/

/* ---------------  COLOR PALETTE VARIABLES  --------------- */

:root {
    --palette-50: 242, 246, 252;
    --palette-100: 226, 236, 247;
    --palette-200: 203, 222, 242;
    --palette-300: 168, 201, 232;
    --palette-400: 126, 172, 220;
    --palette-500: 95, 144, 210;
    /* #5f90d2 */
    --palette-600: 74, 117, 196;
    --palette-700: 65, 100, 180;
    --palette-800: 58, 83, 147;
    --palette-900: 51, 71, 117;
    --palette-950: 35, 44, 72;

    --solidCol: 15, 15, 15;

    --boxShadow0: 0 0 10px rgba(0, 0, 0, 1);
    --boxShadow1: 0 0 20px rgba(0, 0, 0, 0.3);
    --boxShadow2: 0 0 5px rgba(0, 0, 0, 0.3);
    --boxShadow3: 0 0 8px rgba(0, 0, 0, 0.2);
    --boxShadow4: 0 0 6px rgba(0, 0, 0, 0.3);

    --socialIconCol: invert();
    --boxBorderColor: transparent;
    --body-background: 242, 246, 252;

    --HeadingFont: "Rubik";
    --StandardTextFont: "Noto Sans";
}

.LIGHTsan-marino-theme {
    --palette-50: 242, 246, 252;
    --palette-100: 226, 236, 247;
    --palette-200: 203, 222, 242;
    --palette-300: 168, 201, 232;
    --palette-400: 126, 172, 220;
    --palette-500: 95, 144, 210;
    --palette-600: 74, 117, 196;
    --palette-700: 65, 100, 180;
    --palette-800: 58, 83, 147;
    --palette-900: 51, 71, 117;
    --palette-950: 35, 44, 72;

    --body-background: 242, 246, 252;
}

.LIGHTred-damask-theme {
    --palette-50: 252, 245, 240;
    --palette-100: 248, 232, 220;
    --palette-200: 239, 207, 185;
    --palette-300: 229, 174, 140;
    --palette-400: 218, 133, 93;
    --palette-500: 209, 103, 61;
    --palette-600: 195, 82, 51;
    --palette-700: 162, 63, 44;
    --palette-800: 130, 53, 42;
    --palette-900: 105, 45, 37;
    --palette-950: 56, 21, 18;

    --body-background: 252, 245, 240;
}

.LIGHTolivine-theme {
    --palette-50: 243, 248, 237;
    --palette-100: 228, 239, 216;
    --palette-200: 202, 225, 181;
    --palette-300: 167, 205, 137;
    --palette-400: 137, 185, 100;
    --palette-500: 106, 157, 69;
    --palette-600: 81, 124, 52;
    --palette-700: 63, 96, 43;
    --palette-800: 53, 77, 39;
    --palette-900: 47, 67, 36;
    --palette-950: 22, 35, 16;

    --body-background: 243, 248, 237;
}

.LIGHTindigo-theme {
    --palette-50: 247, 246, 252;
    --palette-100: 241, 239, 248;
    --palette-200: 227, 225, 243;
    --palette-300: 205, 201, 233;
    --palette-400: 179, 169, 220;
    --palette-500: 151, 134, 204;
    --palette-600: 127, 100, 185;
    --palette-700: 116, 88, 169;
    --palette-800: 97, 74, 141;
    --palette-900: 80, 62, 116;
    --palette-950: 51, 39, 78;
}


/* ---------------  MAIN RULES  --------------- */

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

body {
    overscroll-behavior: contain;
    margin: 0;
    background: rgb(var(--body-background));
    width: 100vw;
    overflow-x: hidden;
    overscroll-behavior: none;
    transition: 0.3s background ease;
}

select:focus,
input:focus {
    outline: none;
}

summary {
    padding-left: 5px;
    margin: 20px 0 10px 0;
    display: flex;
    align-items: center;
}

summary span {
    color: rgb(var(--palette-900)) !important;
    transform: rotate(90deg);
    transition: 0.2s transform ease-in-out;
    margin-right: 8px;
}

details[open] summary span {
    transform: rotate(180deg);
}

summary h2 {
    margin: 0;
}

details p {
    background-color: rgb(var(--palette-950));
    color: rgb(var(--palette-100));
    font-family: monospace;
    text-align: justify;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--HeadingFont);
    font-display: swap;
    margin: 0;
}

.switch-container select {
    border-radius: 8px;
    width: fit-content;
    border: solid 1px rgba(128, 128, 128, 0.7);
    background-color: rgba(var(--palette-200), 0.5);
    color: rgb(var(--palette-950));
    margin: 5px 0 5px auto;
    text-align: left;
    font-size: 1em;
    padding: 7px;
}

/* -------------------- FONTS --------------------*/

@font-face {
    font-family: 'Noto Sans';
    src: url('Fonts/Noto_Sans/NotoSans-VariableFont_wdth\,wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('Fonts/Rubik/Rubik-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

/* ---------------  ANIMATIONS --------------- */

@keyframes appTabs {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* ---------------  ALL RULES  --------------- */

#newVersionBox {
    display: none;
    z-index: 11;
    position: fixed;
    height: fit-content;
    width: 70%;
    background-color: rgba(var(--palette-100), 0.5);
    padding: 20px;
    border-radius: 20px;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%) translateY(-70%);
    border: 2px solid rgb(var(--palette-400));
}

#newVersionBox h1 {
    text-align: center;
    font-weight: 600;
    color: rgb(var(--palette-950)) !important;
}

#newVersionBox h3 {
    margin: 30px 0;
    font-family: var(--StandardTextFont);
    color: rgb(var(--palette-900));
    font-display: swap;
    text-align: center;
    font-weight: 400;
}

#newVersionBox p {
    font-family: var(--StandardTextFont);
    font-display: swap;
    color: rgb(var(--palette-900));
    text-align: left;
    font-weight: 400;
    margin-top: 20px;
}

#newVersionBox p span {
    padding: 5px;
    margin-left: 5px;
    color: rgb(var(--palette-100));
    background-color: rgb(var(--palette-800));
    border-radius: 10px;
}

#blurOverlay {
    z-index: 10;
    position: fixed;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(10px);
    background-color: rgba(var(--palette-950), 0.5);
    display: none;
}

.card {
    margin: 2vh;
    border: solid 2px rgb(var(--palette-600));
    background-color: rgb(var(--palette-100));
    border-radius: 20px;
    padding: 10px;
}

h1 {
    font-family: var(--HeadingFont);
    color: rgb(var(--palette-950));
    margin: 0 0 5px 5px;
}

h2 {
    font-family: var(--HeadingFont);
    color: rgb(var(--palette-900));
    margin: 0;
}

p {
    font-family: var(--StandardTextFont);
    color: rgb(var(--palette-800));
    margin: 0;
}

button span {
    color: rgb(var(--palette-100)) !important;
    margin-right: 5px;
}

button {
    font-family: var(--StandardTextFont);
    font-weight: 500;
    border-radius: 12px;
    border: none;
    display: flex;
    font-size: 18px;
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
    background-color: rgb(var(--palette-500));
    color: rgb(var(--palette-100));
    transition: 0.3s all ease-in-out;
}

/* button:hover {
    background-color: rgb(var(--palette-600));
} */

button:active {
    background-color: rgb(var(--palette-700));
    scale: 0.92;
}

button.buttonDisabled {
    background-color: rgb(var(--palette-100));
    color: var(rgb(--palette-400));
}

button.buttonOutline {
    background-color: transparent;
    color: rgb(var(--palette-500));
    border: solid 2px rgb(var(--palette-500));
}

button.buttonOutline span {
    color: rgb(var(--palette-500)) !important;
}

button.buttonOutline:active {
    background-color: transparent;
    color: rgb(var(--palette-800));
    border: solid 2px rgb(var(--palette-800));
}

#navbar {
    height: 6.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 15px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    overscroll-behavior: contain;
    background-color: rgb(var(--palette-50));
    border-top: solid 2px;
    border-color: var(--boxBorderColor);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s background-color ease;
}

.navbarBtn {
    background-color: transparent;
    width: 30%;
    margin: 10px;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    flex-direction: column;
    cursor: pointer;
    z-index: 2;
}

.navbarBtn p {
    margin: 5px 0;
    font-family: var(--StandardTextFont);
    font-display: swap;
    color: rgb(var(--palette-950));
    line-height: 0.7;
    font-size: 1em;
    color: var(text);
    text-align: justify;
}

.material-symbols-outlined {
    color: rgb(var(--palette-950));
}

.appTabs {
    animation: appTabs 0.1s ease-in-out;
}

.appTabsShown {
    display: block;
}

.appTabsHidden {
    display: none;
}

.navbarBtn span {
    margin: 5px 0;
    font-weight: 400;
    border-radius: 20px;
    font-size: 1.7em;
    font-weight: 500;
    transition: 0.25s;
    border: solid 1px rgba(0, 0, 0, 0);
}

.navbarIcon {
    padding: 3px 5px;
}

.navbarBtn:active span {
    border: solid 1px rgb(var(--palette-950));
    padding: 3px 20px;
}

.navbarIconActive {
    padding: 3px 20px;
    background-color: rgb(var(--palette-200));
    transition: 0.3s background ease;
    margin: 0;
    font-variation-settings:
        'FILL' 1;
}

.navbarLabelActive {
    font-weight: 700;
}

#navbarFixed {
    display: block;
    position: relative;
    z-index: -1;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: transparent;
}

.settingsSection {
    width: 92%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 20px auto 15px auto;
    padding: 5px 0;
    border: solid 2px rgb(var(--palette-400));
    background-color: rgb(var(--palette-100));
    border-radius: 20px;
}

.settingHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.8em;
    font-family: var(--HeadingFont);
    font-display: swap;
    font-weight: 500;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(var(--palette-950));
}

.switch-container {
    display: grid;
    grid-template-columns: 5fr 5fr;
    align-items: center;
    margin: 0 10px;
}

.appInfoBox {
    grid-template-columns: 2fr 3fr;
    text-align: right;
}

#appFooterContainer {
    opacity: 0.8;
    background-color: transparent;
    display: flex;
    bottom: 0;
    margin: 25px auto 5px auto;
    justify-content: center;
    flex-direction: row;
}

.roundedWakaBadge {
    margin: 10px;
    width: 50%;
    border-radius: 6px;
    border-color: var(--boxBorderColor);
    box-shadow: var(--boxShadow4);
}

#appFooterContainer label {
    margin: auto 10px;
}

#socialIcon {
    width: 35px;
    height: 35px;
    align-items: center;
    display: flex;
    opacity: 0.8;
    filter: var(--socialIconCol);
}

#socialIcon:active {
    transition: .2s all;
    rotate: 360deg;
}

.annoyedCatDiv {
    animation: getStarted 0.5s ease-in-out;
    width: 80vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    border: solid 2px rgb(var(--palette-900));
    border-radius: 20px;
    box-shadow: var(--boxShadow2);
    justify-content: center;
    padding: 10px;
    background-color: rgb(131, 39, 39);
    align-items: center;
    margin: auto auto;
}

.annoyedCatDiv img {
    opacity: 0.8;
    rotate: 180deg;
}

.annoyedCatDiv h1 {
    font-family: var(--StandardTextFont);
    font-display: swap;
    font-weight: 800;
    color: rgb(var(--palette-950));
    text-align: center;
    margin-top: 20px;
}

.appIcon {
    width: 40px;
    display: flex;
    margin: auto 10px;
    justify-content: center;
    align-items: center;
    transition: 0.3s scale ease-in-out;
}

.appIcon:active {
    scale: 0.90;
}

.nerdLinks {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5px 5px 5px;
    font-family: var(--StandardTextFont);
    font-display: swap;
    font-weight: 300;
    font-size: 0.75em;
    text-decoration: underline 1px rgb(var(--palette-900));
}

a {
    text-decoration: underline 1px rgb(var(--palette-800));
    color: rgb(var(--palette-900));
}

.switch-container input,
.switch-container label,
.switch-container button {
    /* height: 40px; */
    display: flex;
    align-items: center;
    /* font-weight: 500; */
    margin: 0.5vh 0;
    text-align: center;
}

.alignToRight {
    justify-content: right;
}

label {
    font-family: var(--StandardTextFont);
    text-align: left;
    font-weight: 400;
    margin: 10px 10px 2px 10px;
    color: rgb(var(--palette-900));
    font-size: 1.2em;
}

.switch-label {
    grid-column: 1;
    font-family: var(--StandardTextFont);
    text-align: left;
    margin: 7px 0;
    font-weight: 400;
    color: rgb(var(--palette-900));
    font-size: 1.2em;
}

.switch {
    grid-column: 2;
    justify-self: end;
}

.switch-input {
    display: none !important;
}

.switch-toggle {
    position: relative;
    display: inline-block;
    width: 65px;
    height: 40px;
    background-color: rgb(var(--palette-300));
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s background-color ease-in-out;
}

.switch-toggle:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
}

.switch-input:checked+.switch-toggle {
    background-color: rgb(var(--palette-500));
}

.switch-input:checked+.switch-toggle:before {
    transform: translateX(25px);
}

#arrayTab, #resultsTab {
    overflow: hidden;
    padding: 2vh;
}

.arrayCardTitle {
    margin: 0;
    font-size: 3.5vh;
    border: solid 1px rgb(var(--palette-400));
    border-bottom: none;
    padding: 10px;
    border-radius: 2vh 2vh 0 0;
    background-color: rgb(var(--palette-200));
}

#barsBarContainer {
    height: 50vh;
}

.embedContainer h2 {
    margin: 2vh;
}

.embedContainer table {
    background-color: rgb(var(--palette-200));
    margin: 1vh;
}

#simulationResultsContainer {
    border: solid 1px rgb(var(--palette-400));
    background-color: rgb(var(--palette-50));
    padding: 0.5vh 1vh;
    border-radius: 0 0 2vh 2vh;
}

#simulationResultsContainer table {
    width: 100%;
    font-family: var(--StandardTextFont);
    color: rgb(var(--palette-950));
}

#simulationResultsContainer td {
    border-bottom: solid 1px rgb(var(--palette-950));
}

#simulationResultsContainer td:last-child {
    margin-left: auto;
    text-align: end;
}

#downloadReportBtn {
    margin: 1.5vh 0 .5vh auto;
}
.embedContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
    overflow: hidden;
    background-color: rgb(var(--palette-50));
    border: solid 1px rgb(var(--palette-400));
    border-radius:  0 0 0.75vh 0.75vh;
    padding: 0 !important;
}

.embedContainer .bar {
    display: flex;
    height: 100%;
    width: 0;
    margin: 0vh 0 0 0;
    border-radius: 0;
    background-color: rgb(var(--palette-300));
    transition: 0.25s all ease-in-out;
}

.barNoAnimation {
    transition: 0s !important;
}

.embedContainer .active {
    background-color: rgb(var(--palette-700));
}

.arrayTabRunButtonsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1vh 0;
}

.arrayTabRunButtonsContainer button {
    margin: 1vh 0 0 0;
}

input[type="range"] {
    display: flex !important;
    /* Remove default background */
    width: 100%;
    /* Set desired width */
    align-items: center;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 8px;
    /* Set track height */
    background-color: rgb(var(--palette-300));
    /* Set track color */
    border-radius: 4px;
    /* Rounded corners */
}

input[type="range"]::-webkit-slider-thumb {
    width: 20px;
    /* Set thumb width */
    margin-top: -4px;
    height: 20px;
    /* Set thumb height */
    background-color: rgb(var(--palette-500));
    /* Set thumb color */
    border-radius: 50%;
    /* Round thumb */
}

input[type="range"]:focus::-webkit-slider-runnable-track {
    background: rgb(var(--palette-200));
    border: solid 1px rgb(var(--palette-600));
    /* Change track color on focus */
}

#arrayElementsDisplay {
    margin-left: 10px;
}

#runSelectedMethodBtn {
    padding: 5px 10px;
    margin-left: 5px;
}

#sortMethodSelection {
    display: flex;
    background-color: transparent;
    color: rgb(var(--palette-100));
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
    border: solid 1px rgb(var(--palette-400));
    border-radius: 5px;
}

.arrayValuesContainer {
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(var(--palette-950));
    color: rgb(var(--palette-100));
    border-radius: 10px;
    font-family: monospace;
    text-align: justify;
}

.arrayValuesContainer button {
    margin: 10px 0 0 auto;
    border-radius: 10px;
}

#expandArrayView, #rotateArrayView, #saveArrayView {
    display: flex;
    position: absolute;
    margin-top: .5vh;
    right: 2.5vh;
    transition: 0.3s all ease-in-out;
    color: rgb(var(--palette-800));
}

#expandArrayView:active, #rotateArrayView:active, #saveArrayView:active {
    color: rgb(var(--palette-950));
    scale: 1.3;
}
    
#rotateArrayView {
    margin-right: 30px;
}

#saveArrayView {
    margin-right: 57px;
    margin-top: .2vh;
    font-size: 30px;
    opacity: 1;
}

.expandedArrayView {
    height: 100vh !important;
    width: 100vw !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 1 !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
}

.verticalBarsContainer {
    flex-direction: row !important;
    align-items: flex-end;
}